@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 1px;
    

}

body {
    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #000 20%, #712875 );
}
h1 {
    text-align: center;
    padding-top: 40px;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    color: #fff;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin: auto;
    position: relative;
        
}


.menu {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;

    
}

span {
    padding: 20px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    
    
}

span:hover {

    background-color:#fff;
    color: #712875;
    cursor: pointer;
    transform: translateY(10px);
    transition: 0.3s;
    border: none;
    border-radius: 5px;
}


 .calculator-med {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
 
 
 }

 #visor {
     display: flex;
     height: 60px;
     border-radius: 5px;
     color: black;
     font-size: 18px;
     font-family: 'Merriweather', serif;
     font-weight: 700;
     border: none;
     background-color: #F2F2F2;
     width: 300px;
     text-align: center;
     padding: 19px 0 0 100px;
     
 }

 .btn-calcular {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    height: 40px;
    width: 100px ;
    background-color: #08CA04;
    color: #fff; 
    border-radius: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 500;
 }
 .btn-calcular:hover {
     cursor: pointer;
     background-color: #046B1C;

 }

 .btn1, .btn2, .btn3, .btn4 {
     text-align: center;
     height: 45px ;
     margin-right: 8px;
     margin-top: 30px;
     font-family: 'Merriweather', serif;
     font-weight: 900;
    
 }
 @media (max-width: 700px)
{
  
   span {
       font-size: 10px;
       font-weight: 900;
       
   }
}


  



