<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculos de Medicamento - Insulinoterapia</title>
    <link rel="stylesheet" href="../static/assets/style.css">
</head>
<body>
    <h1>Cálculos de Medicamento</h1>
    
    <div class="calculator">

        <div class="menu">
            
            
            
            <a href="regraDeTres.html"><span>Simples</span></a>
            <a href="gotas.html"><span>Gotas</span></a>
            <a href="microgotas.html"><span>Microgotas</span></a>
            <a href="insulina.html"><span>Insulinoterapia</span></a>
            
        </div>

        <div class="calculator-med">
            <p id="visor">resultado</p>
    
            <input type="number" placeholder="quantidade prescrita" class="btn1">
            <input type="number" placeholder="graduação da seringa" class="btn2">
            <input type="number" placeholder="concentração do frasco" class="btn3">

            <input type="button" value="Calcular" class="btn-calcular" onclick="insulinoterapia()">

        </div>
    </div>


    <script src="../static/assets/script.js"></script>   
</body>

</html>